#formResult {
  font-size: 36px;
}

.response {
  margin: 10px;
}

#text_polarity {
  margin-top: 30px;
  font-weight: 700;
}

#polarity_confidence {
  margin-top: 30px;
  font-weight: 700;
}
#text_subjectivity {
  margin-top: 30px;
  font-weight: 700;
}

#subjectivity_confidence {
  margin-top: 30px;
  font-weight: 700;
}

#some_text {
  margin-top: 30px;
}