footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #f2f2f2;
}

.footer-right img{
  display: inline-block;
  width: 30px;
}

.contact {
  margin-right: 20px;
}

.github {
  margin-right: 20px;
}
